:root {
    --primary-blue: #2087f1;
    --primary-yellow: #f1ce20;
    --primary-grey: #3d3d3d;
    --primary-blue-light: #c0e0ffb9;
}

*{
    font-family: 'Roboto', sans-serif;
}
.btn-blue{
    background-color: var(--primary-blue);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
}

/* Header Style Start */

.top-header{
    background: var(--primary-blue);
    padding: 10px 0;
}
.top-header .contact-info ul li{
    display: flex;
    align-items: center;
}
.top-header .contact-info ul li:first-child{
    margin-right: 30px!important;
}
.top-header .contact-info ul li span i{
    font-size: 20px;
}
.top-header .contact-info ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.main-header .logo-block a.navbar-brand{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-blue);
}
.main-header{
    background-color: #ffffff;
    padding: 5px 0;
}
.main-header .navbar{
    background-color: transparent!important;
}
.main-header .navbar-nav{
    background-color: transparent;
}
.main-header .navbar-nav .nav-item{
    margin: 0 10px;
    display: flex;
    align-items: center;
}
.main-header .navbar-nav .nav-item .nav-link{
    color: var(--primary-grey);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
}
.main-header .navbar-nav .nav-item .nav-link::before{
    position: absolute;
    content: '';
    left: 0;
    right: 100%;
    bottom: -5px;
    background-color: var(--primary-blue);
    border-radius: 2px;
    height: 3px;
    transition: all 0.5s ease-in-out;
}
.main-header .navbar-nav .nav-item .nav-link:hover::before{
    right: 0;
    transition: all 0.5s ease-in-out;
}

/* Header Style End */

/* Footer Style Start */
.footer-trust-sec{
    margin: 50px auto;
}
.footer-trust-sec .container{
    box-shadow: 0 0 10px #ececec;
    border-radius: 15px;
    padding: 0 30px;
}
.footer-trust-sec .container .trust-content p{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.footer-trust-sec .container .trust-content p span{
    color: var(--primary-blue);
}
.footer-trust-sec .trust-element img{
    width: 100%;
    display: inline-block;
    object-fit: contain;
    height: 100px;
}
footer .main-footer{
    padding: 70px 0;
    background: var(--primary-blue);
}
footer .main-footer .foot-description-block{
    padding-right: 50px;
}
footer .main-footer .foot-description-block h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}
footer .main-footer .foot-description-block p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0;
}
footer .main-footer .foot-description-block img{
    width: 100px;
    border: 1px solid #adadad;
    display: inline-block;
    height: 50px;
}
footer .main-footer .foot-links-block h6{
    color: #ffffff;
    font-size: 22px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 20px;
}
footer .main-footer .foot-links-block h6::before{
    position: absolute;
    content: '';
    left: 0;
    height: 2px;
    bottom: -5px;
    width: 40px;
    border-radius: 2px;
    background: #ffffff;
}
footer .main-footer .foot-links-block ul{
    margin-bottom: 30px!important;
}
footer .main-footer .foot-links-block ul li{
    margin: 5px 0;
    text-transform: capitalize;
}
footer .main-footer .foot-links-block ul li a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
footer .main-footer .foot-links-block .flags-block h6{
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 10px;
    font-weight: 400;
}
footer .main-footer .foot-links-block .flags-block ul{
    margin-bottom: 0!important;
}
footer .main-footer .foot-links-block .flags-block ul li{
    margin-right: 15px ;
}
footer .main-footer .foot-links-block .flags-block ul li img{
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 1px solid var(--primary-blue);
    margin-right: 10px;
}

footer .main-footer .foot-links-block .follow-links li a span{
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
footer .main-footer .foot-links-block .follow-links li a span a{
    font-size: 20px;
}
footer .main-footer .foot-links-block .follow-links li a span:hover{
    background: #ffffff;
}
footer .main-footer .foot-links-block .follow-links li a span:hover i{
    color: var(--primary-blue);
}
/* Footer Style End */

/* landing page start*/
.banner-form-sec{
    padding: 70px 15px 0px;
    background: url('../../assets/media/banner.png');
    background-size: cover;
}
.banner-form-sec .banner-content-block{
    padding: 50px 0px;
}
.banner-form-sec .banner-content-block h1{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-form-sec .banner-content-block p{
    font-size: 16px;
    color: #ffffff;
}
.banner-form-sec .banner-content-block p span{
    color: var(--primary-yellow);
}
.btn-block button.btn-white{
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    background: #ffffff;
    color: var(--primary-blue);
    border: 2px solid #ffffff;
}
.btn-block button.btn-light-blue{
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    background: var(--primary-blue-light);
    color: var(--primary-blue);
    border: 2px solid var(--primary-blue-light);
}
.btn-block button.btn-light{
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.banner-form-sec .banner-content-block .banner-batch-block span{
    display: inline-block;
    margin: 30px 10px;
}
.banner-form-sec .price-calculator{
    padding: 30px 0px;
    background: #ffffff;
    border-radius: 30px;
    margin-bottom: -100px;
    box-shadow: 0px 10px 15px #2087f173;
}
.banner-form-sec .price-calculator .title{
    background-color: var(--primary-blue);
    padding: 10px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;    
}
.banner-form-sec .price-calculator form{
    padding: 15px;
}
.banner-form-sec .price-calculator #content_type label span{
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    font-size: 13px;
    color: var(--primary-grey);
    cursor: pointer;
}
.banner-form-sec .price-calculator #content_type label span input{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: inline-block;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.banner-form-sec .price-calculator #content_type label span input:checked ~ span{
    color: var(--primary-blue);
    font-weight: 600;
}
.banner-form-sec .price-calculator select.form-control{
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid var(--primary-grey);
    height: 45px;
}
.banner-form-sec .price-calculator .standard-price{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;        
}
.banner-form-sec .price-calculator .standard-price span{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #adadad;
    text-decoration: line-through;
}
.banner-form-sec .price-calculator .standard-price span:first-child{
    color: var(--primary-blue);
    text-decoration: none;
}
.banner-form-sec .price-calculator .subcribe-discount{
    background: var(--primary-yellow);
}
.banner-form-sec .price-calculator .subcribe-discount .saving-first-order{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;        
}
.banner-form-sec .price-calculator .subcribe-discount .saving-first-order p{
    margin: 0;
}
.banner-form-sec .price-calculator .subcribe-discount .saving-first-order p.content span{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: navy;    
}
.banner-form-sec .price-calculator .subcribe-discount .saving-first-order p.price span{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    text-decoration: line-through;
}
.banner-form-sec .price-calculator .subcribe-discount .subcribe-price-field{
    padding: 15px 20px
}
.banner-form-sec .price-calculator .subcribe-discount .subcribe-price-field .form-group{
    margin: 0;    
    position: relative;
}
.banner-form-sec .price-calculator .subcribe-discount .subcribe-price-field .form-group input{
    width: 100%;
    border-radius: 30px;
    border: 1px solid var(--primary-grey);
    padding: 7px 50px 7px 10px;
    height: 40px;
    font-size: 14px;
}
.banner-form-sec .price-calculator .subcribe-discount .subcribe-price-field .form-group button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    border-radius: 0 30px 30px 0;
    background-color: var(--primary-grey);
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.banner-form-sec .price-calculator .subcribe-discount .subcribe-price-field .form-group button span{
    margin-right: 5px;
    font-size: 15px;
    color: var(--primary-blue);
}
.banner-form-sec .price-calculator .order-now{
    padding: 30px;
}
.banner-form-sec .price-calculator .order-now button{
    width: 100%;
    background-color: var(--primary-blue);
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 10px 10px #abcef7;
    cursor: pointer;
}
.rating-sec{
    margin: 50px auto;
}
.rating-sec .rating-images-block img{
    max-width: 100%;
    object-fit: contain;
}
.plagiarism-sec{
    margin: 50px 0;
    display: inline-block;
    width: 100%;
}
.plagiarism-sec .plagiarism-content{
    padding-left: 75px;
}
.plagiarism-sec .plagiarism-content span.icon-img{
    display: inline-block;
    width: 55px;
    position: absolute;
    left: 15px;
    top: 10px;
}
.plagiarism-sec .plagiarism-content span.icon-img img{
    width: 100%;
    display: inline-block;
    object-fit: contain;
}
.plagiarism-sec .plagiarism-content h3{
    font-size: 20px;
    color: var(--primary-grey);    
}
.plagiarism-sec .plagiarism-content p{
    color: var(--primary-grey);
    font-size: 16px;
    font-size: 400;
}
.quality-step-sec .quality-content-block{
    text-align: center;
}
.quality-step-sec .quality-content-block h3{
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-grey);
    font-size: 30px;
    margin: 30px auto 15px;
}
.quality-step-sec .quality-content-block h3 span{
    color: var(--primary-blue);
}
.quality-step-sec .quality-content-block p{
    font-size: 16px;
    margin: 15px auto;
    color: var(--primary-grey);
}
.quality-step-sec .quality-steps-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.quality-step-sec .quality-steps-block .step-count{
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 10px solid var(--primary-yellow);
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-grey);
    margin: 10px auto;
}
.quality-step-sec .quality-steps-block .step-content{
    padding: 15px;
    box-shadow: 0 0 10px #a7a7a7;
    margin: 15px auto;
    border-radius: 15px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quality-step-sec .quality-steps-block .step-content span.step-icon{
    display: inline-block;
    width: 100%;
    margin: 15px auto;
}
.quality-step-sec .quality-steps-block .step-content span.step-icon img{
    width: 75px;
}
.quality-step-sec .quality-steps-block .step-content p.step-title{
    display: inline-block;
    width: 100%;
    margin: 15px auto;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-blue);
    text-transform: uppercase;
}
.btn-block button.btn-blue{
    background: var(--primary-blue);
    color: #ffffff;
    border: 2px solid var(--primary-blue);
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.btn-block button.btn-light{
    background: transparent;
    color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.choose-writer-sec{
    margin: 50px 0 0;
    display: inline-block;
    padding: 0 0 50px;
    width: 100%;
    background: url('../../assets/media/slider-bg.png');
}
.choose-writer-sec .choose-content-block{
    text-align: center;
    margin: 30px auto;
    display: inline-block;
    width: 100%;
}
.choose-writer-sec .choose-content-block h3{
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-grey);
    font-size: 30px;
    margin: 30px auto 15px;
}
.choose-writer-sec .choose-content-block h3 span{
    color: var(--primary-blue);
}
.choose-writer-sec .choose-content-block p{
    font-size: 16px;
    margin: 15px auto;
    color: var(--primary-grey);
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile{
    min-width: 320px;
    display: inline-block;
    background: #85aceb;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    margin: 0 15px;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-meta{
    display: inline-flex;
    width: 100%;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-meta span.pic{
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 80px;
    height: 60px;
    object-position: center;
    object-fit: contain;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-meta span img{
    width: 100%;
    display: inline-block;
    height: 100%;
    object-fit: cover;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-meta .meta-content{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-meta .meta-content span.name{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #2087f1;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-meta .meta-content small{
    font-size: 12px;
    color: #606060;
    text-transform: capitalize;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-meta .meta-content ul li span{
    font-size: 12px;
    color: var(--primary-yellow);
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px 0;
    border-top: 2px solid #4687f1;
    border-bottom: 2px solid #4687f1;
    font-size: 14px;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-numbers > div{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-numbers span{
    color: var(--primary-grey);
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-numbers .number{
    font-size: 30px;
    font-weight: 600;
    color: #4687f1;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-percent{
    padding: 15px 0 0;
    margin: 10px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-percent .percent-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-percent .percent-block .percent-numbers{
    font-size: 30px;
    font-weight: 600;
    color: #4687f1;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-percent .percent-block span.percent-text{
    color: var(--primary-grey);
    font-size: 14px;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .writer-percent button.hire-btn{
    background: #4687f1;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    text-transform: uppercase;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .hover-content{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background: #e5f0ffd9;
    border-radius: 15px;
    width: 100%;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile:hover .hover-content{
    display: inline-flex;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .hover-content p{
    color: var(--primary-blue);
    font-size: 18px;
    padding: 0 30px;
    font-weight: 300;
}
.choose-writer-sec .choose-writer-slider .choose-writer-profile .hover-content button.start-action{
    background: #4687f1;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    text-transform: uppercase;
}
.paper-tab-sec{
    display: inline-block;
    padding: 50px 0;
    width: 100%;
}
.paper-tab-sec .paper-tab-content-block{
    text-align: center;
    margin: 10px auto;
    display: inline-block;
    width: 100%;
}
.paper-tab-sec .paper-tab-content-block h3{
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-grey);
    font-size: 30px;
    margin: 15px auto;
}
.paper-tab-sec .paper-tab-content-block h3 span{
    color: var(--primary-blue);
}
.paper-tab-sec .paper-tab-content-block p{
    font-size: 16px;
    margin: 15px auto;
    color: var(--primary-grey);
}
.paper-tab-sec .tabs-block .tabs-btn-block{
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px #ececec;
    min-width: 250px!important;
    max-width: 250px!important;
    position: absolute;
    background: #ffffff;
    border: 1px solid var(--primary-blue);
}
.paper-tab-sec .tabs-block .tabs-btn-block .tabs-icon{
    padding: 15px;
    text-align: center;
}
.paper-tab-sec .tabs-block .tabs-btn-block .nav .nav-link{
    background-color: transparent;
    border: 1px solid #85aceb;
    color: #85aceb;
    text-align: center;
    margin: 5px auto;
    display: inline-block;
    width: 100%;
}
.paper-tab-sec .tabs-block .tabs-btn-block .nav .nav-link.active{
    background-color: transparent;
    border: 1.5px solid var(--primary-blue);
    color: var(--primary-blue);
    font-size: 16px;
    font-weight: 600;
}
.paper-tab-sec .tabs-block .tabs-content-block{
    padding-left: 250px;
    border-radius: 15px;
    background: #ddeaff;
    margin-top: 20px;
    margin-left: 20px;
}
.paper-tab-sec .tabs-block .tabs-content-block .tab-content .tab-pane ul{
    display: flex;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.paper-tab-sec .tabs-block .tabs-content-block .tab-content .tab-pane ul li{
    display: inline-block;
    margin: 10px;
    min-width: 250px;
    padding-left: 30px;
    position: relative;
    font-size: 14px;
}
.paper-tab-sec .tabs-block .tabs-content-block .tab-content .tab-pane ul li:before{
    position: absolute;
    content: '';
    left: 10px;
    top: 7px;
    width: 7px;
    height: 7px;
    background-color: var(--primary-grey);
    border-radius: 50%;
}
.free-feature-sec{
    padding: 50px 0;
    margin: 50px auto;
}
.free-feature-sec .free-feature-title{
    width: 250px;
    padding: 30px;
    background: var(--primary-blue);
    border-radius: 20px 0 0 20px;
    position: relative;
}
.free-feature-sec .free-feature-title h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}
.free-feature-sec .free-feature-title span{
    position: absolute;
    left: -30px;
    bottom: -10px;
}
.free-feature-sec .free-feature-title span img{
    width: 150px;
}
.free-feature-sec .free-feature-content{
    padding: 30px 15px;
    background: #ffffff;
    box-shadow: 0 0 10px #ececec;
    width: calc(100% - 250px);
    border-radius: 0 20px 20px 0;
}
.free-feature-sec .free-features-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.free-feature-sec .free-features-list ul li{
    display: inline-block;
    margin: 10px;
    padding-left: 30px;
    position: relative;
}
.free-feature-sec .free-features-list ul li:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    background: url('../../assets/media/check-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.free-feature-sec .free-features-content{
    margin: 15px 0;
    padding: 0 15px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.free-feature-sec .free-features-content h6{
    margin: 15px auto;
    font-size: 24px;
    color: var(--primary-grey);
}
.free-feature-sec .free-features-content h6 span{
    font-weight: 600;
    color: var(--primary-blue);
}
.free-feature-sec .free-features-content button{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    background: var(--primary-blue);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}
.last-content-sec{
    display: inline-block;
    padding: 50px 0;
    width: 100%;
}
.last-content-sec .last-content-block{
    margin: 10px auto;
    display: inline-block;
    width: 100%;
}
.last-content-sec .last-content-block h3{
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-grey);
    font-size: 30px;
    margin: 15px auto;
}
.last-content-sec .last-content-block h3 span{
    color: var(--primary-blue);
}
.last-content-sec .last-content-block p{
    font-size: 16px;
    margin: 15px auto;
    color: var(--primary-grey);
}
/* Landing Page End */

/* Teams Page Start */
.teams-banner-sec{
    padding: 70px 15px;
    background: url('../../assets/media/teams-banner.png');
    background-size: cover;
}
.teams-banner-sec h1{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.teams-banner-sec p{
    font-size: 16px;
    color: #ffffff;
}
.teams-banner-sec p span{
    color: var(--primary-yellow);
}
.team-listing-sec .teams-listing-block ul li{
    text-align: center;
}
.team-listing-sec .teams-listing-block ul li > div{
    padding: 30px 10px;
    min-width: 230px;
    min-height: 290px;
    border: 1px solid var(--primary-blue-light);
    border-radius: 15px;
}
.team-listing-sec .teams-listing-block ul li > div .writer-meta{
    margin: 15px auto;
}
.team-listing-sec .teams-listing-block ul li > div .writer-meta .writer-img img{
    width: 75px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.team-listing-sec .teams-listing-block ul li > div .writer-meta p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.team-listing-sec .teams-listing-block ul li > div .writer-meta p span.rating-count{
    color: #adadad;
    font-size: 14px;
    padding: 0 10px;
    border-right: 1px solid #adadad;
}
.team-listing-sec .teams-listing-block ul li > div .writer-meta p span.reviews-count{
    color: #adadad;
    font-size: 14px;
    padding: 0 10px;
}
.team-listing-sec .teams-listing-block ul li > div:hover{
    background: var(--primary-blue-light);
}
.team-listing-sec .teams-listing-block ul li > div .order-count{
    padding: 10px;
    border-top: 2px solid #ececec;
}
.team-listing-sec .teams-listing-block ul li > div .order-count span{
    color: #adadad;
    font-size: 16px;
    text-transform: capitalize;
}
.team-listing-sec .teams-listing-block ul li > div .btn-block button{
    line-height: 1;
    border: 1px solid var(--primary-blue);
    padding: 10px;
    font-size: 12px;
}
.team-listing-sec .listing-filter-block{
    margin: 30px auto;
}
.team-listing-sec .listing-filter-block select{
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    background: transparent;
    color: var(--primary-blue);
    border: 2px solid var(--primary-blue-light);
    height: 50px;
}
/* Teams Page End */

/* Pricing Page Start */
.pricing-banner-sec{
    padding: 70px 15px;
    background: url('../../assets/media/price-banner.png');
    background-size: cover;
}
.pricing-banner-sec h1{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px auto;
}
.pricing-table-sec{
    padding: 50px 0;
    display: inline-block;
    width: 100%;
}
.pricing-table-sec .pricing-feature-block{
    text-align: center;
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
}
.pricing-table-sec .pricing-feature-block h3{
    margin: 30px auto 15px;
    color: var(--primary-grey);
    font-weight: 700;
    font-size: 30px;
}
.pricing-table-sec .pricing-feature-block p{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-grey);
}
.pricing-table-sec .pricing-feature-block ul li .features-items{
    display: inline-flex;
    margin: 10px 20px;
    color: var(--primary-grey);
    font-size: 16px;
    align-items: center;
}
.pricing-table-sec .pricing-feature-block ul li .features-items span{
    font-size: 25px;
    color: #adadad;
}
.pricing-table-sec .pricing-table-block table{
    width: 100%;
    margin-bottom: 1rem;
    color: var(--primary-grey);
    max-width: 767px;
    margin: 0 auto;
}
.pricing-table-sec .pricing-table-block .table thead th{
    vertical-align: bottom;
    border: none;
    border-bottom: none;
    padding: 10px 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-grey);
    min-width: 100px;
    vertical-align: top;
}
.pricing-table-sec .pricing-table-block .table thead tr th:not(:last-child , :first-child){
    border-right: 1px solid #ececec;
}
.pricing-table-sec .pricing-table-block .table thead th:first-child{
    border-right: 1px solid var(--primary-blue);
}
.pricing-table-sec .pricing-table-block .table tbody tr td{
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-grey);
    vertical-align: middle;
}
.pricing-table-sec .pricing-table-block .table tbody tr td:not(:last-child , :first-child){
    border-right: 1px solid #ececec;
}
.pricing-table-sec .pricing-table-block .table tbody td:first-child{
    border-right: 1px solid var(--primary-blue);
}
.pricing-table-sec .pricing-table-block .table tbody tr:nth-child(odd){
    background-color: #c0e0ff52;
}
.pricing-table-sec .pricing-table-block .table tbody tr:nth-child(even) td{
    vertical-align: middle;
    line-height: 3;
}
.pricing-table-sec .pricing-table-block .table tbody tr:nth-child(odd) td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pricing-table-sec .pricing-table-block .table tbody tr:nth-child(odd) td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Pricing Page End */

/* Blog Listing Page Start */
.blog-banner-sec{
    padding: 70px 15px;
    background: url('../../assets/media/blog-banner.png');
    background-size: cover;
}
.blog-banner-sec h1{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px auto;
}
.blog-listing-sec{
    padding: 50px 0;
}
.blog-listing-sec .blog-listing-block{
    position: relative;
    margin: 30px auto;
}
.blog-listing-sec .blog-listing-block h4{
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 20px;
    color: #3d3d3d;
    font-weight: 500;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item{
    display: inline-block;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item .blog-date{
    margin-bottom: 15px;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item .blog-date span{
    text-transform: uppercase;
    font-weight: 500;
    color: #3d3d3d;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item .blog-img{
    width: 100%;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item .blog-img img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item .blog-img h5{
    display: inline-block;
    margin: 30px auto;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary);
    line-height: 1;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item .blog-img p{
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 500;
    margin-bottom: 30px;
}
.blog-listing-sec .blog-listing-block ul li .blog-listing-item .blog-img button{
    padding: 15px 40px;
    border-radius: 30px;
    background: var(--primary);
    color: #ffffff;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
}
.blog-listing-sec .blog-side-block{
    position: relative;
    margin: 30px auto;
}
.blog-listing-sec .blog-side-block .blog-search{
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 35px;
}
.blog-listing-sec .blog-side-block .blog-search input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #adadad;
    padding: 5px 15px;
    color: #adadad;
}
.blog-listing-sec .blog-side-block .blog-search input::placeholder{
    color: #adadad;
}
.blog-listing-sec .blog-side-block .blog-search button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
    width: 55px;
    padding: 0;
    border: none;
    background: transparent;
}
.blog-listing-sec .blog-side-block .blog-recent-category{
    margin: 20px auto;
    padding: 10px;
}
.blog-listing-sec .blog-side-block .blog-recent-category h6{
    font-size: 20px;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    margin: 0;
    display: inline-block;
    line-height: 1;
}
.blog-listing-sec .blog-side-block .blog-recent-category ul li p{
    display: inline-block;
    margin: 0;
    margin-top: 15px;
    padding-left: 25px;
    line-height: 1.5;
    position: relative;
}
.blog-listing-sec .blog-side-block .blog-recent-category ul li p::before{
    position: absolute;
    content: '';
    left: 7px;
    top: calc(50% - 7px);
    width: 7px;
    height: 7px;
    background-color: #5a5a5ac7;
    border-radius: 50%;
}
.blog-listing-sec .blog-side-block .blog-recent-category ul li p a{
    color: var(--primary-grey);
}
/* Blog Listing Page Start */

/* Pricing Page Start */
.service-banner-sec{
    padding: 70px 15px;
    background: url('../../assets/media/step-banner.png');
    background-size: cover;
}
.service-banner-sec h1{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px auto;
}
.service-step-sec{
    padding: 50px 0;
    display: inline-block;
    width: 100%;
}
.service-step-sec .service-step-block{
    display: flex;
    flex-wrap: wrap;
}
.service-step-sec .service-step-block:nth-child(even){
    flex-direction: row-reverse;
}
.service-step-sec .service-step-block .step-img{
    display: inline-flex;
    margin-bottom: 30px;
    align-items: center;
}
.service-step-sec .service-step-block .step-img img{
    width: 100%;
    box-shadow: 0px 30px 30px #ececec;
    border-radius: 15px;
    overflow: hidden;
}
.service-step-sec .service-step-block .step-content h3{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: #3d3d3d;
}
.service-step-sec .service-step-block .step-content h4{
    display: inline-block;
    color: var(--primary-blue);
    font-size: 22px;
    font-weight: 600;
    margin: 10px auto;
}
.service-step-sec .service-step-block .step-content p{
    display: inline-block;
    color: #3d3d3d;
    font-size: 16px;
    margin: 15px auto;
}