@media screen and (max-width: 991px) {
    /* .main-header .logo-block{
        position: absolute;
    }
    .main-header .nav-links-block{
        position: relative;        
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
    }*/
    .main-header .nav-links-block .navbar-collapse.collapse{
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        top: 60px;
        box-shadow: 0 0 10px #ececec;
        padding: 10px;
        border-radius: 20px;
        background: #ffffff;
    } 
    .main-header .nav-links-block .navbar-collapse.collapse.show, .main-header .nav-links-block .navbar-collapse.collapsing{
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        top: 75px;
        box-shadow: 0 0 10px #ececec;
        justify-content: center;
        display: flex;
        padding: 10px;
        border-radius: 20px;
        background: #ffffff;
        z-index: 1;
    }
    .main-header .navbar-nav{
        width: 100%;
    }
    .main-header .navbar-nav .nav-item{
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .main-header .navbar-nav .nav-item .nav-link {
        color: #3d3d3d;
    }
    .banner-form-sec .price-calculator{
        margin-bottom: 50px;
    }
    .services-sec ul li{
        width: 45%;
    }
    .services-sec .card .card-body{
        padding: 10px 15px;
    }
    .services-sec .card .card-body .service-content{
        padding: 25px 15px;
    }
}

@media screen and (max-width: 767px) {
    .top-header .contact-info ul{
        flex-wrap: wrap;
        justify-content: center!important;
    }
    .top-header .contact-info ul li{
        margin: 5px 20px!important;
    }
    .paper-tab-sec .tabs-block .tabs-btn-block{
        position: relative;
        min-width: 100%!important;
        max-width: 100%!important;
    }
    .paper-tab-sec .tabs-block .tabs-content-block{
        padding-left: 15px;
    }
    .main-footer .foot-links-block {
        text-align: left !important;
    }
    footer .main-footer .foot-links-block p {
        padding-left: 0 !important;
    }
    .about-us-sec .content-block .about-us-title-content h1{
        font-size: 30px!important;
    }
    .clients-sec .content-block .clients-list ul li{
        width: 50%;
    }
    .services-sec ul li{
        width: 100%;
    }
    .services-sec .card .card-body{
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .clients-sec .content-block .clients-list ul li{
        width: 100%;
    }
    .about-us-sec .content-block h1 {
        font-size: 50px;
    }
    .services-sec .card .card-body .service-content{
        padding: 25px;
        bottom: -20px;
        width: calc(100% - 50px);
    }
    .clients-testo-sec .content-block .clients-testo-slider ul li .testo-content{
        min-width: 100%;
        max-width: 100%;
    }
    .contact-sec{
        margin: 30px 0 !important;
    }
    .tech-sec .content-block .our-impact-categories{
        padding: 30px 0 !important;
    }
    .newsletter-form-block{
        right: 15px;
        left: 15px;
    }
    .newsletter-form-block .newsletter-form form .form-group{
        width: 100%;
        margin-bottom: 10px;
    }
}